.container {
  max-width: 1150px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #eca6ff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (max-width: 1100px) {
    .container {
      align-items: stretch;
      flex-direction: column; } }
  .container .column {
    position: relative;
    min-height: 100vh;
    min-width: 185px;
    margin: 1rem;
    padding-top: 0.75em;
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    justify-content: flex-start;
    align-items: center; }
    @media screen and (max-width: 1100px) {
      .container .column {
        overflow-x: auto;
        min-height: 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: auto; } }
  .container .droppable {
    border: 3px dashed #333; }
  .container .accepted {
    background-color: rgba(0, 128, 0, 0.3); }
  .container .declined {
    background-color: rgba(128, 25, 0, 0.3); }

.draggable {
  width: 180px;
  height: 150px;
  margin: 0.3em; }

.blank {
  width: 180px;
  height: 150px;
  margin: 0.3em;
  background-color: rgba(255, 255, 255, 0); }
  @media screen and (max-width: 1100px) {
    .blank {
      min-width: 180px; } }

.field-text {
  justify-self: flex-start;
  font-family: cursive; }
  @media screen and (max-width: 1100px) {
    .field-text {
      min-width: 150px; } }

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(50% - 300px);
  width: 600px;
  transform: translateY(-100%);
  transition: transform 0.5s;
  min-height: 300px;
  z-index: 999;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.65);
  background-color: #fefefefe; }
  @media screen and (max-width: 610px) {
    .modal {
      width: 300px;
      left: calc(50% - 150px); } }
  .modal > div {
    margin: 0.3em; }
  .modal .card--link a {
    color: blue; }
  .modal .card--number {
    width: 90%;
    background-color: limegreen; }
    .modal .card--number a {
      color: #333; }
    .modal .card--number > div {
      display: flex;
      justify-content: space-between; }
  .modal .card--status {
    width: 90%;
    background-color: #FFFF38; }
  .modal .card--body {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    width: 90%; }
    .modal .card--body p {
      text-align: justify;
      margin: 0;
      padding: 0; }
  .modal .card--stamp {
    justify-self: flex-end;
    border-bottom: 0px solid rgba(0, 0, 0, 0); }
    .modal .card--stamp span {
      padding: 1px;
      background-color: red; }

.open {
  transform: translateY(70%); }

.close {
  transition: transform 0.2s; }

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 989;
  background-color: rgba(0, 0, 0, 0.35); }

.card {
  display: flex;
  position: absolute;
  font-size: 0.8em;
  padding: 3px;
  flex-direction: column;
  border: 1px solid #696969;
  cursor: pointer;
  border-radius: 3px; }
  @media screen and (max-width: 1100px) {
    .card {
      min-width: 180px; } }
  .card > * {
    background-color: #FEFEFE;
    padding: 0.2em;
    border-bottom: 1px solid #333; }
  .card .card--link a {
    color: blue; }
  .card .card--number {
    background-color: limegreen; }
    .card .card--number a {
      color: #333; }
    .card .card--number > div {
      display: flex;
      justify-content: space-between; }
  .card .card--status {
    background-color: #FFFF38; }
  .card .card--body {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding-left: 0.5em;
    overflow-y: scroll; }
    .card .card--body p {
      margin: 0;
      padding: 0; }
  .card .card--stamp {
    border-bottom: 0px solid rgba(0, 0, 0, 0); }
    .card .card--stamp span {
      padding: 1px;
      background-color: red; }
